.animate-coin {
  -webkit-animation: flip 1.4s 1;
          animation: flip 1.4s 1;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scale3d(1, 1, 1) rotateX(0deg);
            transform: scale3d(1, 1, 1) rotateX(0deg);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2) rotateX(3600deg);
            transform: scale3d(2, 2, 2) rotateX(3600deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) rotateX(7200deg);
            transform: scale3d(1, 1, 1) rotateX(7200deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scale3d(1, 1, 1) rotateX(0deg);
            transform: scale3d(1, 1, 1) rotateX(0deg);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2) rotateX(3600deg);
            transform: scale3d(2, 2, 2) rotateX(3600deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) rotateX(7200deg);
            transform: scale3d(1, 1, 1) rotateX(7200deg);
  }
}
/* Centralise content */
.container {
  width: 80%;
  margin: 200px auto;
  text-align: Center;
}

img {
  max-width: 100%;
}
